<div class="row">
 <div class="col-md-3">

  <div class="d-flex justify-content-between m-2">
   <input class="form-control me-2"[(ngModel)]="BuscarProducto" type="search" placeholder="buscar producto" aria-label="Search">
    <orden-carrito-compras></orden-carrito-compras>
  </div>

  <orden-categorias (idCategoria)="setearIdCategoria($event)"></orden-categorias>
 </div>
 <div class="col-md-9">
 <orden-productos [idCategoria]="idCategoria" [textoBuscado]="BuscarProducto"></orden-productos>
 </div>
</div>
