<button class="btn btn-primary mt-2" (click)="buscarOrdenes()">Buscar ordenes <i class="bi bi-arrow-clockwise"></i></button>
<div *ngIf="cantidadOrdenes() == 0" class="alert alert-success mt-2" role="alert">
  No hay ordenes!
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Mesa</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let orden of cargar()">
      <tr *ngFor="let prod of orden.productos">
        <td>{{orden.mesa}}</td>
        <td>{{prod.producto}}</td>
        <td>{{prod.cantidad}}</td>
        <td>{{prod.descripcion}}</td>
        <td><button class="btn btn-primary" (click)="estaListo(orden.mesa,prod.idOrdenDetalle)">Esta listo!</button></td>
      </tr>
    </ng-container>
  </tbody>
</table>
