<div class="card animate__animated animate__bounceIn">
  <h5 class="card-header text-truncate"><b>{{producto.producto}}</b></h5>
  <div class="card-body">
    <h5 class="card-text">Cantidad: <b>{{ producto.cantidad }}</b></h5>
    <button (click)="decreaseQuantity()" class="btn btn-primary">-</button>
    <button (click)="increaseQuantity()" class="btn btn-primary m-2">+</button>
    <h5 class="card-text">precio: {{ producto.precio }}</h5>
    <button (click)="AgregarAlCarrito()" class="btn btn-primary"><i class="bi bi-cart-plus"></i></button>
  </div>
</div>
