<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#modalcarrito"
>
<i class="bi bi-cart4"></i>
</button>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div
  class="modal fade"
  id="modalcarrito"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"

  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">
         Carrito de compras
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          class="table-responsive"
        >
          <table
            class="table table-primary"
          >
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Total</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ObtenerCarritoCompras()">
                <td>{{item.producto}}</td>
                <td>
                <div class="d-flex">
                <p class="me-1">{{item.cantidad}}</p>
                <shared-cantidad-dinamic [cantidad]="item.cantidad" [precio]="item.precio"
                (propagar)="updateQuantity(item.id,$event)"></shared-cantidad-dinamic>
                </div>
                </td>
                <td><input type="text" class="form-control" [(ngModel)]="item.descipcion"></td>
                <td>{{item.precioTotal}}</td>
                <td><button class="btn btn-danger"
                  [swal]="{ title: 'Eliminar', text: 'Quiere quitar '+item.producto+' del pedido?',
                  showCancelButton: true, icon: 'warning'}"
                  (confirm)="eliminarproductoCarrito(item.id)"><i class="bi bi-x-lg"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <div class="d-flex">
        <h4>Mesa:</h4>
        <input type="text" class="form-control" placeholder="numero de mesa" [(ngModel)]="MesaValue">
      </div>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary"
         [swal]="{ title: 'Ordenar', text: 'Enviar a cocina?', showCancelButton: true }"
        (confirm)="ConfirmarCarritoCompras()"
        >Enviar</button>
      </div>
    </div>
  </div>
</div>

